<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="../css/style.css">
    <link rel="preload" href="../css/style.css">

    <link rel="stylesheet" href="../css/Normalize.css">
    <link rel="preload" href="../css/Normalize.css">

    <script src="https://kit.fontawesome.com/6871133f1b.js" crossorigin="anonymous"></script>

    <title>FrondEnd - Store</title>
</head>
<body>
    <header class="header">
        <a href="../index.html">
            <img class="header__logo" src="../img/logo.png" alt="Imagen logotipo" />
        </a>
    </header>

    <nav class="navegacion">
        <a class="navegacion__enlace" href="../index.html">Tienda</a>
        <a class="navegacion__enlace navegacion__enlace--activo" href="nosotros.html">Nosotros</a>
    </nav>

    <main class="contenedor">
        <h1>Nosotros</h1>

        <div class="nosotros">
            <div class="nosotros__contenido">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam unde, alias libero reiciendis fugit architecto sit ipsa nam, placeat ea fugiat quas vel quos numquam ducimus odio voluptatibus, voluptate consequuntur.
               </p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam debitis doloribus, nam ab magnam quas a iure molestias itaque facilis, sunt nesciunt non, esse asperiores explicabo dignissimos corrupti ullam? Nisi?</p>
            </div>

            <img src="../img/nosotros.jpg" alt="Imagen nosotros" class="nosotros__img">
        </div>
    </main>
    <section class="contenedor comprar">
        <h2 class="comprar__titulo">¿Porque Comprar Con Nosotros?</h2>
        <div class="bloques">
            <div class="bloque">

                <img class="bloque__img" src="../img/icono_1.png" alt="Porque comprar">

                <h3 class="bloque__titulo">El mejor precio</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam debitis doloribus</p>
            </div><!-- .Bloque -->

            <div class="bloque">

                <img class="bloque__img" src="../img/icono_2.png" alt="Para devs">

                <h3 class="bloque__titulo">Para devs</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam debitis doloribus</p>
            </div><!-- .Bloque -->

            <div class="bloque">

                <img class="bloque__img" src="../img/icono_3.png" alt="Envio gratis">

                <h3 class="bloque__titulo">Envio gratis</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam debitis doloribus</p>
            </div><!-- .Bloque -->

            <div class="bloque">

                <img class="bloque__img" src="../img/icono_4.png" alt="La mejor calidad">

                <h3 class="bloque__titulo">La mejor calidad</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam debitis doloribus</p>
            </div><!-- .Bloque -->

        </div><!-- .Bloques -->
    </section>

    <footer class="footer">
        <p class="footer__texto">Front End Store - Todoso los derechos Reservadirs 2023</p>
    </footer>
    
</body>
</html>